.container {
    display: grid;
    grid-template-columns: 850px;
    grid-template-rows: 150px 450px 400px 50px;
    grid-template-areas: "hd"
    "main"
    "sd"
    "ft";
}

.header {
    font-size: 24px;
    text-align: center;
    color: #9393A5;
    grid-area: hd;
}
   
.footer {
    grid-area: ft;
    padding: 5px 5px 5px 5px;
    background: #676664;
    color: #B6B8B7;
}