/* Removed a fixed value for grid-template-columns and grid-template-rows property and set it to 1fr and auto respectively,
   in the container class, in order to render the image correctly in the mobile devices */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "hd"
    "main"
    "sd"
    "ft";
}

.header {
    font-size: 24px;
    text-align: center;
    color: #9393A5;
    grid-area: hd;
}
   
.footer {
    grid-area: ft;
    padding: 5px 5px 5px 5px;
    background: #676664;
    color: #B6B8B7;
}