@import url("../lib/font.css");
@import url("../lib/navigation.css");
@import url("../lib/button.css");
@import url("../lib/box-border.css");
@import url("../lib/avatar-image.css");
@import url("../lib/blog.css");
@import url("../lib/body-format.css");
@import url("index-layout.css");

.content {
    grid-area: main;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}

/* Introduced color for the text. This property is missing in the sidebar-fa class present under the navigation.css file
   Removed align-item center for this property for screen resolution lower than 1100px;
*/

.sidebar-fa {
    display: flex;
    grid-area: fa;
    flex-flow: row;
    color: #9393a5;
    justify-content: center;
}

/* Includes logic to expand the template size if the width of the screen is 1100px or more */

@media(min-width:1100px) {

    .container {
        display: grid;
        grid-template-columns: 300px 300px 200px;
        grid-template-rows: 150px 450px 50px;
        grid-template-areas: "hd hd hd hd hd hd"
        "sd main main main main main"
        "ft ft ft ft ft ft";
    }   
    
    .sidebar-fa {
        display: flex;
        grid-area: fa;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
    }

}