.container {
    display: grid;
    grid-template-columns: 850px;
    grid-template-areas: "hd"
    "main"
    "sdl"
    "sdr"
    "ft";
}

.header {
    display: grid;
    grid-area: hd;
    padding: 10px 10px 10px 10px;
    grid-template-areas: "author author author"
    "pagenavigation pagenavigation pagenavigation"
    "image image image";
    color: #9393a5;
}

.sidebar-left {
    grid-area: sdl;
    padding: 10px 10px 10px 10px;
    color: #9393a5;
}

.sidebar-right {
    grid-area: sdr;
    padding: 10px 10px 10px 10px;
    color: #9393a5;
    word-wrap: wrap;
}

.footer {
    grid-area: ft;
    padding: 5px 5px 5px 5px;
    background: #676664;
    color: #b6b8b7;
}